body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:879px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7833 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:668px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7834 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:668px;
}
#u7835 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
  background:inherit;
  background-color:rgba(148, 148, 148, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7836 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
}
#u7837 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:14px;
}
#u7838 {
  position:absolute;
  left:7px;
  top:3px;
  width:361px;
  height:14px;
}
#u7839 {
  position:absolute;
  left:2px;
  top:-1px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u7840 {
  position:absolute;
  left:115px;
  top:33px;
  width:146px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u7841 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  word-wrap:break-word;
}
#u7842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:83px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7842 {
  position:absolute;
  left:14px;
  top:127px;
  width:106px;
  height:83px;
}
#u7843 {
  position:absolute;
  left:2px;
  top:34px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u7844 {
  position:absolute;
  left:130px;
  top:127px;
  width:146px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u7845 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  white-space:nowrap;
}
#u7846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u7846 {
  position:absolute;
  left:130px;
  top:155px;
  width:85px;
  height:16px;
  font-size:12px;
  color:#999999;
}
#u7847 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u7848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u7848 {
  position:absolute;
  left:130px;
  top:175px;
  width:153px;
  height:16px;
  font-size:12px;
  color:#999999;
}
#u7849 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u7850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u7850 {
  position:absolute;
  left:0px;
  top:220px;
  width:373px;
  height:1px;
}
#u7851 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u7852 {
  position:absolute;
  left:130px;
  top:195px;
  width:123px;
  height:15px;
  font-size:12px;
  color:#FF0000;
}
#u7853 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u7854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#669933;
}
#u7854 {
  position:absolute;
  left:18px;
  top:79px;
  width:29px;
  height:16px;
  color:#669933;
}
#u7855 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7856 {
  position:absolute;
  left:78px;
  top:79px;
  width:29px;
  height:16px;
}
#u7857 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7858 {
  position:absolute;
  left:139px;
  top:79px;
  width:29px;
  height:16px;
}
#u7859 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7860 {
  position:absolute;
  left:199px;
  top:79px;
  width:71px;
  height:16px;
}
#u7861 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u7862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7862 {
  position:absolute;
  left:301px;
  top:79px;
  width:29px;
  height:16px;
}
#u7863 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
}
#u7864 {
  position:absolute;
  left:0px;
  top:109px;
  width:374px;
  height:1px;
}
#u7865 {
  position:absolute;
  left:2px;
  top:-8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7866_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:36px;
  height:5px;
}
#u7866 {
  position:absolute;
  left:14px;
  top:108px;
  width:33px;
  height:2px;
}
#u7867 {
  position:absolute;
  left:2px;
  top:-7px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7868 {
  position:absolute;
  left:362px;
  top:79px;
  width:29px;
  height:16px;
}
#u7869 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7870 {
  position:absolute;
  left:422px;
  top:79px;
  width:57px;
  height:16px;
}
#u7871 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7872 {
  position:absolute;
  left:511px;
  top:79px;
  width:71px;
  height:16px;
}
#u7873 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u7874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7874 {
  position:absolute;
  left:613px;
  top:79px;
  width:29px;
  height:16px;
}
#u7875 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7876 {
  position:absolute;
  left:673px;
  top:79px;
  width:57px;
  height:16px;
}
#u7877 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7878 {
  position:absolute;
  left:762px;
  top:79px;
  width:43px;
  height:16px;
}
#u7879 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u7880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7880 {
  position:absolute;
  left:836px;
  top:79px;
  width:43px;
  height:16px;
}
#u7881 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u7882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:83px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7882 {
  position:absolute;
  left:14px;
  top:231px;
  width:106px;
  height:83px;
}
#u7883 {
  position:absolute;
  left:2px;
  top:34px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u7884 {
  position:absolute;
  left:130px;
  top:231px;
  width:146px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u7885 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  white-space:nowrap;
}
#u7886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u7886 {
  position:absolute;
  left:130px;
  top:259px;
  width:85px;
  height:16px;
  font-size:12px;
  color:#999999;
}
#u7887 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u7888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u7888 {
  position:absolute;
  left:130px;
  top:279px;
  width:153px;
  height:16px;
  font-size:12px;
  color:#999999;
}
#u7889 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u7890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u7890 {
  position:absolute;
  left:0px;
  top:324px;
  width:373px;
  height:1px;
}
#u7891 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u7892 {
  position:absolute;
  left:130px;
  top:299px;
  width:123px;
  height:15px;
  font-size:12px;
  color:#FF0000;
}
#u7893 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u7894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:83px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7894 {
  position:absolute;
  left:14px;
  top:335px;
  width:106px;
  height:83px;
}
#u7895 {
  position:absolute;
  left:2px;
  top:34px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u7896 {
  position:absolute;
  left:130px;
  top:335px;
  width:146px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u7897 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  white-space:nowrap;
}
#u7898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u7898 {
  position:absolute;
  left:130px;
  top:363px;
  width:85px;
  height:16px;
  font-size:12px;
  color:#999999;
}
#u7899 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u7900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u7900 {
  position:absolute;
  left:130px;
  top:383px;
  width:153px;
  height:16px;
  font-size:12px;
  color:#999999;
}
#u7901 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u7902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u7902 {
  position:absolute;
  left:0px;
  top:428px;
  width:373px;
  height:1px;
}
#u7903 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u7904 {
  position:absolute;
  left:130px;
  top:403px;
  width:123px;
  height:15px;
  font-size:12px;
  color:#FF0000;
}
#u7905 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u7906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:83px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7906 {
  position:absolute;
  left:14px;
  top:439px;
  width:106px;
  height:83px;
}
#u7907 {
  position:absolute;
  left:2px;
  top:34px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u7908 {
  position:absolute;
  left:130px;
  top:439px;
  width:146px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u7909 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  white-space:nowrap;
}
#u7910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u7910 {
  position:absolute;
  left:130px;
  top:467px;
  width:85px;
  height:16px;
  font-size:12px;
  color:#999999;
}
#u7911 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u7912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u7912 {
  position:absolute;
  left:130px;
  top:487px;
  width:153px;
  height:16px;
  font-size:12px;
  color:#999999;
}
#u7913 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u7914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u7914 {
  position:absolute;
  left:0px;
  top:532px;
  width:373px;
  height:1px;
}
#u7915 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u7916 {
  position:absolute;
  left:130px;
  top:507px;
  width:123px;
  height:15px;
  font-size:12px;
  color:#FF0000;
}
#u7917 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u7918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#669933;
  text-align:right;
}
#u7918 {
  position:absolute;
  left:330px;
  top:155px;
  width:29px;
  height:16px;
  color:#669933;
  text-align:right;
}
#u7919 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#669933;
  text-align:right;
}
#u7920 {
  position:absolute;
  left:330px;
  top:265px;
  width:29px;
  height:16px;
  color:#669933;
  text-align:right;
}
#u7921 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#669933;
  text-align:right;
}
#u7922 {
  position:absolute;
  left:288px;
  top:369px;
  width:71px;
  height:16px;
  color:#669933;
  text-align:right;
}
#u7923 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u7924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#669933;
  text-align:right;
}
#u7924 {
  position:absolute;
  left:330px;
  top:473px;
  width:29px;
  height:16px;
  color:#669933;
  text-align:right;
}
#u7925 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:134px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7926 {
  position:absolute;
  left:1px;
  top:533px;
  width:373px;
  height:134px;
}
#u7927 {
  position:absolute;
  left:2px;
  top:59px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u7928 {
  position:absolute;
  left:10px;
  top:30px;
  width:24px;
  height:24px;
}
#u7929 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
