body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:668px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4812 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:668px;
}
#u4813 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u4814 {
  position:absolute;
  left:0px;
  top:618px;
  width:375px;
  height:50px;
  color:#000000;
}
#u4815 {
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
  background:inherit;
  background-color:rgba(148, 148, 148, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4816 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
}
#u4817 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:14px;
}
#u4818 {
  position:absolute;
  left:7px;
  top:3px;
  width:361px;
  height:14px;
}
#u4819 {
  position:absolute;
  left:2px;
  top:-1px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u4820 {
  position:absolute;
  left:115px;
  top:33px;
  width:146px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u4821 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  word-wrap:break-word;
}
#u4822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:20px;
}
#u4822 {
  position:absolute;
  left:15px;
  top:32px;
  width:11px;
  height:20px;
}
#u4823 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:22px;
}
#u4824 {
  position:absolute;
  left:126px;
  top:80px;
  width:78px;
  height:22px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u4825 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  word-wrap:break-word;
}
#u4826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:273px;
}
#u4826 {
  position:absolute;
  left:174px;
  top:1px;
  width:43px;
  height:273px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u4827 {
  position:absolute;
  left:2px;
  top:128px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:17px;
}
#u4828 {
  position:absolute;
  left:85px;
  top:129px;
  width:185px;
  height:17px;
  font-family:'黑体 Regular', '黑体';
  font-weight:409;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u4829 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  white-space:nowrap;
}
#u4830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border:none;
  border-radius:23px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4830 {
  position:absolute;
  left:12px;
  top:115px;
  width:42px;
  height:42px;
}
#u4831 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:273px;
}
#u4832 {
  position:absolute;
  left:174px;
  top:62px;
  width:43px;
  height:273px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u4833 {
  position:absolute;
  left:2px;
  top:128px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:17px;
}
#u4834 {
  position:absolute;
  left:85px;
  top:190px;
  width:233px;
  height:17px;
  font-family:'黑体 Regular', '黑体';
  font-weight:409;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u4835 {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  white-space:nowrap;
}
#u4836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border:none;
  border-radius:23px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4836 {
  position:absolute;
  left:12px;
  top:176px;
  width:42px;
  height:42px;
}
#u4837 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u4838 {
  position:absolute;
  left:16px;
  top:627px;
  width:278px;
  height:33px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u4839 {
  position:absolute;
  left:2px;
  top:9px;
  width:274px;
  word-wrap:break-word;
}
#u4840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u4840 {
  position:absolute;
  left:304px;
  top:631px;
  width:24px;
  height:24px;
}
#u4841 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u4842 {
  position:absolute;
  left:338px;
  top:631px;
  width:24px;
  height:24px;
  font-family:'Arial Rounded MT Bold', 'Arial Rounded MT';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u4843 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  word-wrap:break-word;
}
