body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:668px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4222 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:668px;
}
#u4223 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
  background:inherit;
  background-color:rgba(148, 148, 148, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4224 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
}
#u4225 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:14px;
}
#u4226 {
  position:absolute;
  left:7px;
  top:3px;
  width:361px;
  height:14px;
}
#u4227 {
  position:absolute;
  left:2px;
  top:-1px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:20px;
}
#u4228 {
  position:absolute;
  left:15px;
  top:32px;
  width:11px;
  height:20px;
}
#u4229 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u4230 {
  position:absolute;
  left:115px;
  top:33px;
  width:146px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u4231 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  word-wrap:break-word;
}
#u4232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:86px;
}
#u4232 {
  position:absolute;
  left:145px;
  top:98px;
  width:86px;
  height:86px;
}
#u4233 {
  position:absolute;
  left:2px;
  top:35px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:38px;
}
#u4234 {
  position:absolute;
  left:163px;
  top:122px;
  width:50px;
  height:38px;
}
#u4235 {
  position:absolute;
  left:2px;
  top:11px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u4236 {
  position:absolute;
  left:151px;
  top:199px;
  width:73px;
  height:22px;
  font-size:18px;
  text-align:center;
}
#u4237 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:24px;
}
#u4238 {
  position:absolute;
  left:15px;
  top:243px;
  width:345px;
  height:17px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:24px;
}
#u4239 {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  word-wrap:break-word;
}
#u4240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:40px;
}
#u4240 {
  position:absolute;
  left:83px;
  top:354px;
  width:210px;
  height:40px;
  color:#35ACE9;
}
#u4241 {
  position:absolute;
  left:2px;
  top:12px;
  width:206px;
  word-wrap:break-word;
}
#u4242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u4242 {
  position:absolute;
  left:21px;
  top:318px;
  width:334px;
  height:16px;
  font-size:13px;
  color:#FF0000;
}
#u4243 {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  white-space:nowrap;
}
